@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
	@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
}
* {
	font-family: "Inria Sans", sans-serif;
}
/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background: #9e9cef;
	border-radius: 5px;
}
